/* Main container */
.profile-container {
    padding: 20px;
    background-color: #fff;
    /* White background for the main section */
}

/* Profile Header with Flex */
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    height: 70px;
    width: 70px;
    margin-right: 10px;
}

/* Edit Profile button */
.btn-editprofile {
    padding: 8px 16px;
    background-color: #2A99B6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* User Details Section */
.user-details-container {
    background-color: #f5f5f5;
    /* Light gray background for the details section */
    padding: 20px;
    border-radius: 8px;
}

/* User Details */
.user-details {
    display: flex;
    flex-direction: column;

}

.user-detail-item {
    /* background-color: #e0e0e0; */
    /* Light gray for individual items */
    /* padding: 10px; */
    margin-bottom: 5px;
    border-radius: 4px;
}

/* Optional styling for better visuals */
.user-detail-item b {
    color: #333;
}

/* Optional padding/margin for the page */
h5 {
    margin-bottom: 20px;
}